:root{
    --primary-color: #0c2842;
    --active-color: #006bf7;
    --nav-font-color: #d6d6d6;
}
html{
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Header  */

.header{
    width: 100%;   /*Change to max-width: 100.8rem; */
    height: 5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--primary-color);
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
    padding: 0rem 2rem;
    border-bottom: 1px solid gray;
}

/* Header -> Logo */

.header_left, .header_right{
    display: flex;
    align-items: center;
    gap: 3rem;
    /* background-color: rgb(168, 125, 125); */
}

.header_logo a{
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
    /* background-color: #6f84a0; */
}

.header_logo a img{
    width: 3.5rem;
    height: 3.5rem;
}

.header_logo a span{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

/* Header -> Navbox-left and right */

.header_explore ul , .header_nav ul{
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.header_explore ul li a , .header_nav ul li a{
    font-size: 1.4rem;
    color: var(--nav-font-color);
    padding: 1rem 1rem;
}

.header_explore ul li:first-child{
    padding-left: 1.5rem;
    border-left: 1px solid var(--nav-font-color);
}

.header_explore ul li a span{
    padding-left: 0.8rem;
}

/* Header -> form -> input */

.visually_hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

input[type="text"]{
    width: 28rem;
    color:#cbf8ff;
    background-color: rgba(39, 73, 111, 0.8);
    background-image: url('asset/search.svg');
    background-repeat: no-repeat;
    background-position: left center ;
    padding:0.8rem 1rem 0.8rem  3.5rem;
    outline-style: none;
    border:none;
    border-radius: 0.8rem;
    margin-right: 1.5rem;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: normal;
    display: block;
}

input[type="text"]:focus{
    outline: 1px solid gray;
    outline-offset: 2px;
}

/* Wrapper */

.wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5rem;
    gap: 1rem;

}

/* Aside section */

.sidebar{
    flex-basis: 18%;
    height: 100vh;
    background-color: var(--primary-color);
    position: sticky;
    left: 0;
    top: 0;
}

.sidebar_topics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem
}

.sidebar_topics h2{
    color: #ffffff;
    padding: 0.8rem 1rem;
}

.sidebar_topics ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--nav-font-color);
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    white-space: nowrap;
    transition: all ease 100ms;
}

.sidebar_topics ul li a svg{
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
    object-position: center;
}

.sidebar_topics ul li .active{
    background-color: var(--active-color);
}

.sidebar_topics ul li a:hover{
    background-color:var(--active-color);
    color: #ffffff;
}

/* Hero Section  */

.main_container{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

}

.hero {
    width: 100%;
    background: 
        linear-gradient(90deg, var(--primary-color) 35%, rgba(12, 40, 66, 0.85) 55%, rgba(12, 40, 66, 0) 75%), 
        url('https://img.freepik.com/premium-photo/tridimensional-gradient-circuit-board-background_636537-374072.jpg');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 0.8rem;
    margin-top: 1rem;
    overflow: hidden;
}

.hero h1{
    font-size: 3rem;
    font-weight: 600;

}

.hero q{
    font-size: 1.6rem;
    font-weight: 500;
}
.hero p{
    width: 35rem;
    margin: 0.8rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.hero button {
    color: #ffffff;
    background-color: var(--active-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
}

.hero button span {
    padding: 0 1rem;
}

/* Card Section Heading */

.main_container .cards_title span{
    width: 30px;
    display: inline-block;
    height: 35px;
    border-bottom: 2px solid var(--active-color);
    vertical-align: middle;
}

.main_container .title_heading{
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
}

.main_container .title_heading h2{
    font-size: 2rem;
    font-weight: 600;
    color:  #000000;
}

.main_container .title_heading p{
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
}
.card_container .cards{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.card_container .cards .card_child{
    flex-basis: calc((100% - 2rem) / 3);
    background-color: #006bf7;
    padding: 1rem 2.5rem;
    border-radius: 0.8rem;
}

.card_container .cards .card_child h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
    white-space: nowrap;

}

.card_container .cards .card_child p{
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
    overflow: hidden;
    word-break: break-word;
}

.card_container .cards .card_child a{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.3rem;
    color: var(--active-color)
}

.card_container .cards .card_child span{
    padding: 0 1rem;
}

/* Feature Section */

.main_container .feature{
    width: 100%;
    overflow: hidden;
    
}

.main_container .feature_content{
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
    margin: 0.5rem 0;
    border: 1px solid lightgray;
    border-radius: .8rem;
}

.main_container .feature .feature_content img{
    width: 18rem;
    height: 10rem;
    object-fit: contain;
    object-position: center;
    background-color: rgb(228, 227, 227);

}

.main_container .feature .feature_content .about p{
    width: 55%;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    overflow: hidden;
    word-break: break-word;
    margin-bottom: 0.5rem;
}

.feature .feature_content .about button{
    color: #ffffff;
    background-color: var(--active-color);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
}

.feature .feature_content .about button span{
    padding-left: 0.5rem;
    display: inline;
}